{% extends "mobile/base.html" %}

{% block base_css %}
<style type="text/css">
body{
	background-color: #f0efed;
}

.container{
	padding-left: 0px;
	padding-right: 0px;
}

.row{
	margin-left: 0px;
	margin-right: 0px;
}

.list-group-item:first-child{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.list-group-item:last-child{
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.active a{
	color: #EF8A55;
}

a:hover{
	color: #EF8A55;
}
</style>
{% block css %}{% endblock %}
{% endblock %}

{% block base_js %}
{% block javascript %}{% endblock %}
{% endblock %}

{% block base_container %}
	{% block topbar %}
	<div class="row pf text-center f14 border-1 bdc-e6e6e6 bgc-f8f8f8 pt-5 pb-5 z99 w h40 line-height-32 pr">
		<a class="go-back f15 pa z99 pointer co8" style="left: 15px; top: 5px;"><i class="fa f20 fa-angle-left pr-3"></i>返回</a>
		<div class="col-xs-12 pr-0 pl-0 text-center">{% block bar_title %}{% endblock %}</div>
	</div>
	{% endblock %}

	{% block container %}{% endblock %}

	{% block nav %}
	<ul class="list-inline row mr-0 ml-0 mb-0 h50 w pf bgc-f8f8f8 border-1 bdc-e6e6e6" style="bottom: 0;">
		<li class="col-xs-3 {% if '/' == request.path %}active{% endif %}">
			<a href="/" class="w inline-block h50 text-center co1">
				<i class="fa fa-home pt-5 f20"></i>
				<span class="inline-block w f13">首页</span>
			</a>
		</li>
		<li class="col-xs-3 {% if 'order' in request.path %}active{% endif %}">
			<a href="/car_wash/order" class="w inline-block h50 text-center co1">
				<i class="fa fa-barcode pt-5 f20"></i>
				<span class="inline-block w f13">洗车码</span>
			</a>
		</li>
		<li class="col-xs-3 {% if 'coupon' in request.path %}active{% endif %}">
			<a href="/car_wash/coupon" class="w inline-block h50 text-center co1">
				<i class="fa fa-rmb pt-5 f20"></i>
				<span class="inline-block w f13">优惠券</span>
			</a>
		</li>
		<li class="col-xs-3 {% if 'account' in request.path %}active{% endif %}">
			<a href="/car_wash/account" class="w inline-block h50 text-center co1">
				<i class="fa fa-user pt-5 f20"></i>
				<span class="inline-block w f13">账户</span>
			</a>
		</li>
	</ul>
	{% endblock %}
{% endblock %}
