{% extends "mobile/car_wash/base_car_wash.html" %}

{% block title_all %}嗷嗷洗车{% endblock %}

{% block css %}
<style type="text/css">

</style>
{% endblock %}

{% block container %}
	<div class="row pf text-center  border-1 bdc-e6e6e6 bgc-f8f8f8 pt-5 pb-5 z99 w h40">
		<div class="col-xs-4 line-height-32 text-left pl-5">
			<select class="input-sm">
				<option value="0">默认排序</option>
				<option value="1">价格最低</option>
				<option value="2">单量最多</option>
			</select>
		</div>
		<div class="col-xs-4 line-height-32 f14">洗车行列表</div>
		<div class="col-xs-4 line-height-32 text-right">
			<a href="/city/open_citys_list">
				<i class="fa fa-map-marker pr-3"></i>成都
			</a>
		</div>
	</div>
	<div class="row pt-30">
		<ul class="list-group col-xs-12 pr-0 pt-10 pb-50 mb-0">
			<a class="list-group-item row pl-5 pr-0" href="/car_wash/1">
				<div class="col-xs-2 pl-0 pr-0">
					<img src="{{MEDIA_URL}}img/xch1.jpg" class="w h50">
				</div>
				<div class="col-xs-6 pl-10 pr-10">
					<div class="fb f15">华胜洗车行(高新店)</div>
					<!-- <div class="f12">
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star-half-o co4"></i>
						<span class="pl-15 co3">4.7</span>
					</div> -->
					<div class="f13 pt-10"><span class="pr-20 co3">高新</span><span class="co2">人工</span></div>
				</div>
				<div class="col-xs-4 pr-5 pl-0 text-right">
					<div>
						<i class="fa fa-rmb f13 co1"></i><span class="co2 f18 fb">15</span>
						<i class="fa fa-rmb f14 line-through co1"></i><span class="f14 line-through co1">30</span>
					</div>
					<div class="pt-5">
						<span class="f13 pb-3 pt-3 pl-5 pr-5 bgc-E8AF47 co5">立省15元</span>
					</div>
					<!-- <div class="pt-3 co1 f12">
						<span>距您6.8km<i class="fa fa-map-marker pl-3"></i></span>
					</div> -->
				</div>
			</a>
			
			<a class="list-group-item row pl-5 pr-0" href="/car_wash/1">
				<div class="col-xs-2 pl-0 pr-0">
					<img src="{{MEDIA_URL}}img/xch1.jpg" class="w h50">
				</div>
				<div class="col-xs-6 pl-10 pr-10">
					<div class="fb f15">华胜洗车行(高新店)</div>
					<!-- <div class="f12">
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star-half-o co4"></i>
						<span class="pl-15 co3">4.7</span>
					</div> -->
					<div class="f13 pt-10"><span class="pr-20 co3">高新</span><span class="co2">人工</span></div>
				</div>
				<div class="col-xs-4 pr-5 pl-0 text-right">
					<div>
						<i class="fa fa-rmb f13 co1"></i><span class="co2 f18 fb">15</span>
						<i class="fa fa-rmb f14 line-through co1"></i><span class="f14 line-through co1">30</span>
					</div>
					<div class="pt-5">
						<span class="f13 pb-3 pt-3 pl-5 pr-5 bgc-E8AF47 co5">立省15元</span>
					</div>
					<!-- <div class="pt-3 co1 f12">
						<span>距您6.8km<i class="fa fa-map-marker pl-3"></i></span>
					</div> -->
				</div>
			</a>

			<a class="list-group-item row pl-5 pr-0" href="/car_wash/1">
				<div class="col-xs-2 pl-0 pr-0">
					<img src="{{MEDIA_URL}}img/xch1.jpg" class="w h50">
				</div>
				<div class="col-xs-6 pl-10 pr-10">
					<div class="fb f15">华胜洗车行(高新店)</div>
					<!-- <div class="f12">
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star-half-o co4"></i>
						<span class="pl-15 co3">4.7</span>
					</div> -->
					<div class="f13 pt-10"><span class="pr-20 co3">高新</span><span class="co2">人工</span></div>
				</div>
				<div class="col-xs-4 pr-5 pl-0 text-right">
					<div>
						<i class="fa fa-rmb f13 co1"></i><span class="co2 f18 fb">15</span>
						<i class="fa fa-rmb f14 line-through co1"></i><span class="f14 line-through co1">30</span>
					</div>
					<div class="pt-5">
						<span class="f13 pb-3 pt-3 pl-5 pr-5 bgc-E8AF47 co5">立省15元</span>
					</div>
					<!-- <div class="pt-3 co1 f12">
						<span>距您6.8km<i class="fa fa-map-marker pl-3"></i></span>
					</div> -->
				</div>
			</a>

			<a class="list-group-item row pl-5 pr-0" href="/car_wash/1">
				<div class="col-xs-2 pl-0 pr-0">
					<img src="{{MEDIA_URL}}img/xch1.jpg" class="w h50">
				</div>
				<div class="col-xs-6 pl-10 pr-10">
					<div class="fb f15">华胜洗车行(高新店)</div>
					<!-- <div class="f12">
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star-half-o co4"></i>
						<span class="pl-15 co3">4.7</span>
					</div> -->
					<div class="f13 pt-10"><span class="pr-20 co3">高新</span><span class="co2">人工</span></div>
				</div>
				<div class="col-xs-4 pr-5 pl-0 text-right">
					<div>
						<i class="fa fa-rmb f13 co1"></i><span class="co2 f18 fb">15</span>
						<i class="fa fa-rmb f14 line-through co1"></i><span class="f14 line-through co1">30</span>
					</div>
					<div class="pt-5">
						<span class="f13 pb-3 pt-3 pl-5 pr-5 bgc-E8AF47 co5">立省15元</span>
					</div>
					<!-- <div class="pt-3 co1 f12">
						<span>距您6.8km<i class="fa fa-map-marker pl-3"></i></span>
					</div> -->
				</div>
			</a>

			<a class="list-group-item row pl-5 pr-0" href="/car_wash/1">
				<div class="col-xs-2 pl-0 pr-0">
					<img src="{{MEDIA_URL}}img/xch1.jpg" class="w h50">
				</div>
				<div class="col-xs-6 pl-10 pr-10">
					<div class="fb f15">华胜洗车行(高新店)</div>
					<!-- <div class="f12">
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star-half-o co4"></i>
						<span class="pl-15 co3">4.7</span>
					</div> -->
					<div class="f13 pt-10"><span class="pr-20 co3">高新</span><span class="co2">人工</span></div>
				</div>
				<div class="col-xs-4 pr-5 pl-0 text-right">
					<div>
						<i class="fa fa-rmb f13 co1"></i><span class="co2 f18 fb">15</span>
						<i class="fa fa-rmb f14 line-through co1"></i><span class="f14 line-through co1">30</span>
					</div>
					<div class="pt-5">
						<span class="f13 pb-3 pt-3 pl-5 pr-5 bgc-E8AF47 co5">立省15元</span>
					</div>
					<!-- <div class="pt-3 co1 f12">
						<span>距您6.8km<i class="fa fa-map-marker pl-3"></i></span>
					</div> -->
				</div>
			</a>

			<a class="list-group-item row pl-5 pr-0" href="/car_wash/1">
				<div class="col-xs-2 pl-0 pr-0">
					<img src="{{MEDIA_URL}}img/xch1.jpg" class="w h50">
				</div>
				<div class="col-xs-6 pl-10 pr-10">
					<div class="fb f15">华胜洗车行(高新店)</div>
					<!-- <div class="f12">
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star-half-o co4"></i>
						<span class="pl-15 co3">4.7</span>
					</div> -->
					<div class="f13 pt-10"><span class="pr-20 co3">高新</span><span class="co2">人工</span></div>
				</div>
				<div class="col-xs-4 pr-5 pl-0 text-right">
					<div>
						<i class="fa fa-rmb f13 co1"></i><span class="co2 f18 fb">15</span>
						<i class="fa fa-rmb f14 line-through co1"></i><span class="f14 line-through co1">30</span>
					</div>
					<div class="pt-5">
						<span class="f13 pb-3 pt-3 pl-5 pr-5 bgc-E8AF47 co5">立省15元</span>
					</div>
					<!-- <div class="pt-3 co1 f12">
						<span>距您6.8km<i class="fa fa-map-marker pl-3"></i></span>
					</div> -->
				</div>
			</a>

			<a class="list-group-item row pl-5 pr-0" href="/car_wash/1">
				<div class="col-xs-2 pl-0 pr-0">
					<img src="{{MEDIA_URL}}img/xch1.jpg" class="w h50">
				</div>
				<div class="col-xs-6 pl-10 pr-10">
					<div class="fb f15">华胜洗车行(高新店)</div>
					<!-- <div class="f12">
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star-half-o co4"></i>
						<span class="pl-15 co3">4.7</span>
					</div> -->
					<div class="f13 pt-10"><span class="pr-20 co3">高新</span><span class="co2">人工</span></div>
				</div>
				<div class="col-xs-4 pr-5 pl-0 text-right">
					<div>
						<i class="fa fa-rmb f13 co1"></i><span class="co2 f18 fb">15</span>
						<i class="fa fa-rmb f14 line-through co1"></i><span class="f14 line-through co1">30</span>
					</div>
					<div class="pt-5">
						<span class="f13 pb-3 pt-3 pl-5 pr-5 bgc-E8AF47 co5">立省15元</span>
					</div>
					<!-- <div class="pt-3 co1 f12">
						<span>距您6.8km<i class="fa fa-map-marker pl-3"></i></span>
					</div> -->
				</div>
			</a>

			<a class="list-group-item row pl-5 pr-0" href="/car_wash/1">
				<div class="col-xs-2 pl-0 pr-0">
					<img src="{{MEDIA_URL}}img/xch1.jpg" class="w h50">
				</div>
				<div class="col-xs-6 pl-10 pr-10">
					<div class="fb f15">华胜洗车行(高新店)</div>
					<!-- <div class="f12">
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star-half-o co4"></i>
						<span class="pl-15 co3">4.7</span>
					</div> -->
					<div class="f13 pt-10"><span class="pr-20 co3">高新</span><span class="co2">人工</span></div>
				</div>
				<div class="col-xs-4 pr-5 pl-0 text-right">
					<div>
						<i class="fa fa-rmb f13 co1"></i><span class="co2 f18 fb">15</span>
						<i class="fa fa-rmb f14 line-through co1"></i><span class="f14 line-through co1">30</span>
					</div>
					<div class="pt-5">
						<span class="f13 pb-3 pt-3 pl-5 pr-5 bgc-E8AF47 co5">立省15元</span>
					</div>
					<!-- <div class="pt-3 co1 f12">
						<span>距您6.8km<i class="fa fa-map-marker pl-3"></i></span>
					</div> -->
				</div>
			</a>

			<a class="list-group-item row pl-5 pr-0" href="/car_wash/1">
				<div class="col-xs-2 pl-0 pr-0">
					<img src="{{MEDIA_URL}}img/xch1.jpg" class="w h50">
				</div>
				<div class="col-xs-6 pl-10 pr-10">
					<div class="fb f15">华胜洗车行(高新店)</div>
					<!-- <div class="f12">
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star co4"></i>
						<i class="fa fa-star-half-o co4"></i>
						<span class="pl-15 co3">4.7</span>
					</div> -->
					<div class="f13 pt-10"><span class="pr-20 co3">高新</span><span class="co2">人工</span></div>
				</div>
				<div class="col-xs-4 pr-5 pl-0 text-right">
					<div>
						<i class="fa fa-rmb f13 co1"></i><span class="co2 f18 fb">15</span>
						<i class="fa fa-rmb f14 line-through co1"></i><span class="f14 line-through co1">30</span>
					</div>
					<div class="pt-5">
						<span class="f13 pb-3 pt-3 pl-5 pr-5 bgc-E8AF47 co5">立省15元</span>
					</div>
					<!-- <div class="pt-3 co1 f12">
						<span>距您6.8km<i class="fa fa-map-marker pl-3"></i></span>
					</div> -->
				</div>
			</a>
		</ul>
	</div>
{% endblock %}