{% extends "mobile/car_wash/base_car_wash.html" %}
{% block title_all %}嗷嗷洗车{% endblock %}
{% block bar_title %}洗车网点{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css">
<style type="text/css">

</style>
{% endblock %}

{% block javascript %}
<!-- <script type="text/javascript" src="http://api.map.baidu.com/api?type=quick&ak=o4O12xsCGirt60xLVt1GLTI6&v=1.0"></script> -->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=o4O12xsCGirt60xLVt1GLTI6"></script>
<script type="text/javascript" src="http://developer.baidu.com/map/jsdemo/demo/convertor.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    $('#map').css({'height': $(window).height()})

    var data = eval({{data_json|safe}});

    // 弹出信息
    var getContent = function(obj){
        return String.format([
                '<div class="pt-5 pb-5">',
                    '',
                    '<a class="co6 f18" target="_blank" href="/car_wash/{4}"><span class="fb">{0}</span><span class="f12 pl-5">详情»</span></a>',
                '</div>',
                // '<div class="pt-5 pb-5">联系电话: <span class="pl-5">{1}</span></div>',
                '<div class="pt-5 pb-5">洗车价格: ',
                    '<span class="co2 f18 fb pl-5"><i class="fa fa-rmb"></i>{3}元</span>',
                    '<span class="f14 line-through pl-5"><i class="fa fa-rmb"></i>{5}元</span>',
                '</div>',
                '<div class="pt-5 pb-5">地址: <span class="pl-5">{2}</span></div>'
            ].join(''), obj.name, obj.tel, obj.address, obj.lowestSalePrice, obj.id, obj.lowest_origin_price);
    };

    var map = new BMap.Map("map"), points = [];
    map.centerAndZoom("{{city.city}}", 13);
    // map.addControl(new BMap.ZoomControl());
    map.enableScrollWheelZoom(true);
    map.addControl(
        new BMap.NavigationControl({
            offset: new BMap.Size(10, 70),
            anchor: BMAP_ANCHOR_BOTTOM_RIGHT, 
            type: BMAP_NAVIGATION_CONTROL_SMALL}
        )
    );

    $.map(data, function(i){
        
        points.push(new BMap.Point(i.longitude, i.latitude));

        // 创建点
        var marker = new BMap.Marker(new BMap.Point(i.longitude, i.latitude));
        
        map.addOverlay(marker);

        marker.addEventListener("click", function(e){
            var target = e.target,
                point = new BMap.Point(target.getPosition().lng, target.getPosition().lat),
                searchInfoWindow = new BMap.InfoWindow(getContent(i), {
                    'enableMessage': false
                });
            
            this.openInfoWindow(searchInfoWindow);
        });
        
    });
    
    // window.setTimeout(function(){
    //     map.setViewport(points);
    // }, 1000);

    navigator.geolocation.getCurrentPosition(function(position){
        var gpsPoint = new BMap.Point(position.coords.longitude, position.coords.latitude),
            baiduPoint = null;

        // 将gps坐标转换成百度坐标
        BMap.Convertor.translate(gpsPoint, 0, function(point){
            baiduPoint = point;

            // 平移位置
            map.setCenter(baiduPoint);
            map.setZoom(13);

            // 添加当前位置标注
            var iconBlue = new BMap.Icon("{{MEDIA_URL}}img/marker.gif", new BMap.Size(24, 31));
            iconBlue.setAnchor(new BMap.Size(14, 32));
            iconBlue.setImageOffset(new BMap.Size(0, -31));

            map.addOverlay(
                new BMap.Marker(
                    baiduPoint,
                    {"icon": iconBlue}
                )
            );

            // 绑定事件
            $('.origin').bind('click', function(){
                map.panTo(baiduPoint);
            });

        });

    });
    
});
</script>
{% endblock %}

{% block container %}
<div id="map" class="row pt-50 pb-50">

</div>

<span class="pa f23 co9 bgc-ffffff origin" style="left: 10px; bottom: 80px; padding: 7px; opacity: 0.9; border: 1px solid #D5D5D5; box-shadow: 1px 1px 1px #D8D8D8;">
    <i class="fa fa-crosshairs"></i>
</span>
{% endblock %}

{% block footer %}{% endblock %}