{% extends "mobile/car_wash/base_car_wash.html" %}

{% block title_all %}嗷嗷洗车{% endblock %}

{% block css %}
<style type="text/css">
.list-group-item:first-child{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.list-group-item:last-child{
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.tab.active{
	background-color: #EF8A55;
	border-color: #EF8A55;
	color: #ffffff;
}

.tab{
	background-color: #ffffff;
	border-color: #d0d0d0;
	color: #EF8A55;
}
</style>
{% endblock %}

{% block topbar %}{% endblock %}

{% block container %}
<div class="row pf text-center f14 border-1 pt-3 bdc-e6e6e6 bgc-f8f8f8 z99 w h40">
	<div class="col-xs-6 pr-0 pt-0">
		<a class="active tab block pb-5 pt-5 border-left border-bottom border-top bdc-EF8A55 bdr-t-l-4 bdr-b-l-4" href="#">服务中</a>
	</div>
	<div class="col-xs-6 pl-0 pt-0">
		<a class="tab pb-5 pt-5 block border-right border-bottom border-top bdr-t-r-4 bdr-b-r-4" href="#">已完成</a>
	</div>
</div>

<div class="row pt-40 pb-50">
	<ul class="list-group mb-10 pl-15 pr-15">
		<a class="list-group-item mt-10" href="/car_wash/order/1">
			<div class="">
				<div class="fb f15">华胜洗车行(高新店)</div>
				<div class="f13 pt-10">
					<span class="pr-20 co3">洗车券</span>
					<span class="pull-right co8 f16 fb">5236 2532 5411</span>
				</div>
			</div>
		</a>
	</ul>
	<ul class="list-group mb-10 pl-15 pr-15">
		<a class="list-group-item mt-10" href="/car_wash/order/1">
			<div class="">
				<div class="fb f15">华胜洗车行(高新店)</div>
				<div class="f13 pt-10">
					<span class="pr-20 co3">洗车券</span>
					<span class="pull-right co8 f16 fb">5236 2532 5411</span>
				</div>
			</div>
		</a>
	</ul>
</div>
{% endblock %}