{% extends "mobile/car_wash/base_car_wash.html" %}

{% block title_all %}嗷嗷洗车{% endblock %}

{% block css %}
<style type="text/css">

</style>
{% endblock %}

{% block topbar %}{% endblock %}

{% block container %}
<div class="row pf text-center f14 border-1 pt-3 bdc-e6e6e6 bgc-f8f8f8 z99 w h40">
	<div class="col-xs-6 pr-0 pt-2">
		<a class="bgc-65c3ed co5 block pb-2 pt-2 border-left border-bottom border-top bdc-65c3ed bdr-t-l-2 bdr-b-l-2" href="#">服务中</a>
	</div>
	<div class="col-xs-6 pl-0 pt-2">
		<a class="pb-2 pt-2 block bgc-ffffff co6 border-right border-bottom border-top bdc-d0d0d0 bdr-t-r-2 bdr-b-r-2" href="#">已完成</a>
	</div>
</div>

<div class="row pt-30 pb-50">
	<ul class="list-group pt-10 pl-15 pr-15">
		<a class="list-group-item mt-10" href="/car_wash/order/1">
			<div class="">
				<div class="fb f15">华胜洗车行(高新店)</div>
				<div class="f13 pt-10">
					<span class="pr-20 co3">洗车券</span>
					<span class="pull-right co8 f16 fb">5236 2532 5411</span>
				</div>
			</div>
		</a>
		<a class="list-group-item mt-10" href="/car_wash/order/1">
			<div class="">
				<div class="fb f15">华胜洗车行(高新店)</div>
				<div class="f13 pt-10">
					<span class="pr-20 co3">洗车券</span>
					<span class="pull-right co8 f16 fb">5236 2532 5411</span>
				</div>
			</div>
		</a>
		
	</ul>
</div>
{% endblock %}