{% extends "mobile/car_wash/base_car_wash.html" %}

{% block title_all %}嗷嗷洗车{% endblock %}

{% block css %}
<style type="text/css">
.list-group-item:first-child{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.list-group-item:last-child{
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
</style>
{% endblock %}

{% block bar_title %}充值记录{% endblock %}

{% block container %}
<ul class="list-group pt-50 pb-50 pl-15 pr-15">
	<li class="list-group-item row">
		<div class="col-xs-12 pl-0 pr-0 row">
			<div class="f15 col-xs-6 pl-0 pr-0">建设银行-转入</div>
			<div class="text-right co3 col-xs-6 pl-0 pr-0">2014-11-11 15:23</div>
		</div>
		<div class="col-xs-12 pl-0 pr-0 row">
			<div class="f13 pt-5 col-xs-7 pl-0 pr-0">余额: 223.00</div>
			<div class="text-right co10 f15 fb col-xs-5 pl-0 pr-0">+50.00</div>
		</div>
	</li>
	<li class="list-group-item row">
		<div class="col-xs-12 pl-0 pr-0 row">
			<div class="f15 col-xs-6 pl-0 pr-0">洗车码购买-转出</div>
			<div class="text-right co3 col-xs-6 pl-0 pr-0">2014-11-11 15:23</div>
		</div>
		<div class="col-xs-12 pl-0 pr-0 row">
			<div class="f13 col-xs-7 pt-5 pl-0 pr-0">余额: 223.00</div>
			<div class="text-right co8 f15 fb col-xs-5 pl-0 pr-0">-50.00</div>
		</div>
	</li>
</ul>
{% endblock %}