{% extends "mobile/car_wash/base_car_wash.html" %}
{% load custom_filters %}
{% block title_all %}嗷嗷洗车{% endblock %}

{% block css %}
<style type="text/css">
.list-group-item:first-child{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.list-group-item:last-child{
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    var calculatePrice = function(){
         var price = 0,
            // 单价
            unitPrice = parseFloat($('.unit-price').html()), 
            // 购买数量 
            payCount = parseInt($('.pay-count').val()),     
            // 总价   
            totalPrice = unitPrice * payCount, 
            // 优惠券价格
            couponPrice = ($('.coupon-price').length > 0) 
                            ? parseFloat($('.coupon-price option:selected').data('discount')) 
                            : 0,
            // 优惠券类型
            couponType = ($('.coupon-price').length > 0) 
                            ? $('.coupon-price option:selected').data('coupon_type')
                            : 0,
            // 余额
            balance = parseFloat($('.use-balance').attr('checked') ? $('.balance').html() : 0), 
            // 需支付价格
            needPrice = 0; 
        
        // 优惠类型为 减多少钱
        if(couponType == "0"){
            price = balance - (totalPrice - couponPrice);
        } else {
            price = balance - (totalPrice - unitPrice + couponPrice);
        }
        

        if(price > 0){
            needPrice = 0;
        } else {
            needPrice = Math.abs(price);
        }

        $('.total-price').html(totalPrice);
        $('.need-price').html($.Global.Utils.formatPrice(needPrice));

        // 如果价格为0 则隐藏支付方式
        if(needPrice <= 0){
            $('.pay-item').hide();
        } else {
            $('.pay-item').show();
        }
        $("#page_show_pay_fee_id").val(needPrice);
    };

    // 绑定触发支付事件
    $('.pay-count').bind('change', function(){calculatePrice();});
    $('.coupon-price').bind('change', function(){calculatePrice();});
    $('.use-balance').bind('change', function(){calculatePrice();});

    // 点击整行选择支付方式
    $('.pay-item').bind('click', function(){
        $('.pay-type').attr('checked', false);
        $(this).find('.pay-type').attr('checked', true);
    });

    calculatePrice();
});
</script>
{% endblock %}

{% block bar_title %}确认订单{% endblock %}

{% block container %}
<div class="row pt-35 pb-10 pl-15 pr-15">
    <form method="post" action="/car_wash/create_order/{{service_price.id}}">
        <!-- 
        <ul class="col-xs-12 list-group mt-20 pr-0 mb-10">
            <li class="list-group-item bdc-d0d0d0 row">
                <div class="col-md-12 pr-0 pl-0" style="color:red;">
                    <p>用户须知，购买前请阅读此使用步骤：</p>
                    <p>1.首先进入嗷嗷在线洗车行，选择你想要的服务</p>
                    <p>2.通过支付宝购买后获得服务码(包含洗车码等)</p>
                    <p>3.购买洗车码之后，凭此洗车码即可到各大嗷嗷洗车行享受优惠洗车服务！</p>
                    <p>4.嗷嗷洗车承诺，服务号永不过期，随时退款</p>
                </div>
            </li>
        </ul>
        -->
        <ul class="col-xs-12 list-group mt-20 pr-0 mb-10">
            <li class="list-group-item bdc-d0d0d0 row">
                <div class="col-xs-8 pl-0">
                    <div class="f16">{{service_price.car_wash.name}}</div>
                    <div class="co3 pt-5">{{service_price.service_type.name}}</div>
                </div>
                <div class="col-xs-4 pt-10 text-right pr-0">
                    <span class="fa fa-rmb f14 co3"></span>
                    <span class="f22 pl-3 fb unit-price">{{service_price.sale_price|smart_show_float}}</span>
                </div>
            </li>
            <li class="list-group-item bdc-d0d0d0 row">
                <div class="col-xs-6 f16 pt-5 pl-0">购买数量</div>
                <div class="col-xs-6 text-right pr-0">
                    <select class="input-sm pay-count" name="count">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </li>
            <li class="list-group-item bdc-d0d0d0 row">
                <div class="col-xs-6 f16 pt-5 pl-0">需支付</div>
                <div class="col-xs-6 text-right pr-0">
                    <span class="fa fa-rmb f14 co3"></span>
                    <span class="f22 pl-3 co8 fb total-price">{{service_price.sale_price|smart_show_float}}</span>
                </div>
            </li>
        </ul>

        <ul class="col-xs-12 list-group pr-0 mb-10">
            <li class="list-group-item bdc-d0d0d0 row">
                <div class="col-xs-6 f16 pt-5 pl-0">使用优惠券</div>
                <div class="col-xs-6 text-right pr-0">
                    {% if coupons %}
                    <select class="input-sm coupon-price" name="coupon_id">
                        <option value="0" data-discount="0" data-coupon_type="0" >不使用</option>
                        {% for coupon in coupons %}
                        <option value="{{coupon.id}}" data-discount="{{coupon.discount}}" data-coupon_type="{{coupon.coupon_type}}" >{{coupon.get_display}}</option>
                        {% endfor %}
                    </select>
                    {% else %}
                    <span>暂无</span>
                    {% endif %}
                </div>
            </li>
            <li class="list-group-item bdc-d0d0d0 row">
                <div class="col-xs-6 f16 pt-5 pl-0">使用账户余额</div>
                <div class="col-xs-6 text-right pr-0 pl-0">
                    <label>
                        <input type="checkbox" value="1" class="use-balance" name="use_user_cash">
                        <span class="fa fa-rmb f14 co3"></span><span class="f22 pl-3 co8 fb balance">{{user_cash.balance|smart_show_float}}</span>
                    </label>
                </div>
            </li>
        </ul>

        <ul class="col-xs-12 list-group pr-0 mb-10">
            <li class="list-group-item bdc-d0d0d0 row">
                <div class="col-xs-6 f16 pt-5 pl-0">还需支付</div>
                <div class="col-xs-6 text-right pr-0">
                    <span class="fa fa-rmb f14 co3"></span>
                    <span class="f22 pl-3 co8 fb need-price">0.00</span>
                </div>
            </li>
        </ul>

        <ul class="col-xs-12 list-group pr-0 mb-10">
            <li class="list-group-item bdc-d0d0d0 row pay-item">
                <div class="col-xs-3 pr-0 pl-0 text-center"><img class="h32" src="{{MEDIA_URL}}img/weixin.png"></div>
                <div class="col-xs-6 line-height-32 f16">微信支付</div>
                <div class="col-xs-3 line-height-32 text-right pr-0 pt-5">
                    <input type="checkbox" class="pay-type" value="2" name="pay_type" checked="checked">
                </div>
            </li>
            <li class="list-group-item bdc-d0d0d0 row pay-item">
                <div class="col-xs-3 pr-0 pl-0 text-center"><img class="h32" src="{{MEDIA_URL}}img/zhifubao.png"></div>
                <div class="col-xs-6 line-height-32 f16">支付宝支付</div>
                <div class="col-xs-3 line-height-32 text-right pr-0 pt-5">
                    <input type="checkbox" class="pay-type" value="1" name="pay_type">
                </div>
            </li>
        </ul>

        <div class="col-xs-12 pl-0 pr-0 pt-0 pb-20">
            <input type="hidden" name="page_show_pay_fee" value="" id="page_show_pay_fee_id" />
            <button class="btn btn-block btn-orange btn-lg" type="submit">确认支付</button>
        </div>
    </form>
</div>
{% endblock %}

{% block nav %}{% endblock %}