{% extends "pc/admin/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}洗车行管理{% endblock %}

{% block css %}
<style type="text/css">

</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    var CarWash = Backbone.Model.extend({
        defaults: {
            
        }
    });

    var CarWashs = Backbone.Collection.extend({
        model: CarWash,

        _modelMaps: {
            'num': 'num',
            'carWashId': 'car_wash_id',
            'name': 'name',
            'businessHours': 'business_hours',
            'cityId': 'city_id',
            'cityName': 'city_name',
            'districtId': 'district_id',
            'districtName': 'district_name',
            'tel': 'tel',
            'addr': 'addr',
            'longitude': 'longitude',
            'latitude': 'latitude',
            'washType': 'wash_type',
            'des': 'des',
            'note': 'note',
            'lowestSalePrice': 'lowest_sale_price',
            'lowestOriginPrice': 'lowest_origin_price',
            'imgs': 'imgs',
            'rating': 'rating',
            'orderCount': 'order_count',
            'validDateStart': 'valid_date_start',
            'validDateEnd': 'valid_date_end',
            'isVip': 'is_vip',
            'vipInfo': 'vip_info',
            'sortNum': 'sort_num',
            'state': 'state',
            'createTime': 'create_time'
        },

        search: function(name, pageIndex){
            var me = this;

            ajaxSend(
                "/admin/car_wash/search", 
                {'name': name||'', 'page_index': pageIndex||1}, 
                function(data){
                    
                    me.pageIndex = pageIndex;
                    me.pageCount = data.page_count;
                    me.name = name||'';

                    me.reset($.QXUtils.dictMapParse(data.data, me._modelMaps));
                }
            );
        },

        getOne: function(carWashId, callback){
            var me = this;

            ajaxSend(
                "/admin/car_wash/get_car_wash_by_id", 
                {'car_wash_id': carWashId},
                function(data){
                    if(callback){
                        callback($.QXUtils.dictMap(data, me._modelMaps));
                    }
                }
            );
        },

        //
        modifyCarWash: function(data, callback){
            var me = this;

            ajaxSend(
                "/admin/car_wash/modify_car_wash", 
                data,
                function(response){
                    if(callback){
                        callback(response);
                    }
                }
            );
        }
        
    });
    
    var ListView = Backbone.View.extend({
        el: '#car_wash_list',

        template: _.template($('#car_wash_list_template').html()),

        pagination: new $.QXPagination.PaginationView(),

        events: {
            'click .search-car_wash': 'searchCarWash',
            'click .pointer': 'modifyCarWash'
        },

        initialize: function(){
            this.listenTo(this.collection, 'reset', this.render);
        },

        render: function(){
            var data = this.collection.toJSON();
            
            this.showPanel();
            this.$('tbody').html(this.template({'carWashs': data}));
            this.pagination.render(
                this.collection.pageIndex||1, 
                this.collection.pageCount, 
                'search/' + this.collection.name
            );
        },

        // 显示面板
        showPanel: function(){
            $('.qx-nav-pills a[href="#car_wash_list"]').tab('show');
        },

        searchCarWash: function(){
            var name = this.$('.key-word').val();

            router.navigate(String.format('/search/{0}/1', name), {trigger: true});
        },

        modifyCarWash: function(sender){
            var target = $(sender.currentTarget),
                carWashId = target.data('car_wash_id');

            router.navigate('/modify/' + carWashId, {trigger: true});
        }
        
    });
    

    var ModifyView = Backbone.View.extend({
        
        el: '#modify_car_wash',

        template: _.template($('#modify_car_wash_template').html()),

        events: {
            'click .save': 'save',
            'click .remove': 'remove'
        },

        // 显示面板
        showPanel: function(){
            $('.qx-nav-pills a[href="#modify_car_wash"]').tab('show');
        },

        // 渲染
        render: function(data){
            this.$el.html(this.template(data));

            this.initDate();
        },

        initDate: function(){
            $('#birthday_modify').datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                minView: 2,
                autoclose: true
            });
        },

        // 显示提问信息
        modifyCarWash: function(carWashId){
            var me = this;

            this.collection.getOne(carWashId, function(data){

                if(data){
                    me.render(data);
                    me.showPanel();
                } else {
                    setTimeout(function(){history.go(-1);}, 3000);
                    $.QXNotice.ErrorTopNotice('没有找到对应的用户!');
                }
            });
        },

        // 保存
        save: function(){
            var carWashId = this.$('form').data('car_wash_id'),
                me = this;

            me.collection.modifyCarWash(this.$('form').serialize(), function(data){
                if(data.errcode === 0){
                    $.QXNotice.SuccessTopNotice('操作成功');
                    router.navigate('modify/' + carWashId, {'trigger': true});
                } else {
                    $.QXNotice.ErrorTopNotice(data.errmsg);
                }
            })
        }

    });


    var Router = Backbone.Router.extend({
        routes: {
            "":                              "search",
            "search/(:name)/:pageIndex": "search",
            "modify/:carWashId":                "modify"
        },

        // 获取推荐用户
        search: function(name, pageIndex){
            carWashs.search(name||'', pageIndex||1);
        },

        modify: function(carWashId){
            modifyView.modifyCarWash(carWashId);
        }

    });

    var carWashs = new CarWashs(),
        listView = new ListView({collection: carWashs}),
        modifyView = new ModifyView({collection: carWashs}),
        router = new Router();

    Backbone.history.start();
});

</script>
{% endblock %}

{% block right %}
<ul class="nav nav-pills pt-15 qx-nav-pills">
    <li class="active">
        <a href="#car_wash_list" class="black-blue" data-toggle="pill">洗车行列表</a>
    </li>
    <li>
        <a href="#modify_car_wash" class="black-blue" data-toggle="pill">修改洗车行信息</a>
    </li>
</ul>

<div class="tab-content">
    <!-- 用户列表 -->
    <div class="tab-pane fade pt-15 in active" id="car_wash_list">
        <div class="pl-0 pb-10 col-md-3">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control border-radius-0 key-word" placeholder="输入洗车行呢称..." />
                <span class="input-group-btn">
                    <button class="btn btn-default search-car_wash" type="button">查询</button>
                </span>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>名称</th>
                    <th>城市</th>
                    <th>营业时间</th>
                    <th>电话</th>
                    <th>订单数量</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <div class="text-center">
            <ul class="pagination pagination-sm qx-pagination">
                
            </ul>
        </div>
    </div>

    <!-- 修改用户信息 -->
    <div class="tab-pane fade pt-15" id="modify_car_wash">
        
    </div>
</div>

<script type="text/template" id="car_wash_list_template">
<% _.each(carWashs, function(carWash){ %>
    <tr>
        <td><%= carWash.num %></td>
        <td><%= carWash.name %></td>
        <td><%= carWash.cityName %></td>
        <td><%= carWash.businessHours %></td>
        <td><%= carWash.tel %></td>
        <td><%= carWash.orderCount %></td>
        <td>
            <% if(carWash.state){ %>
                <span class="fa fa-check co6"></span>
            <% } else { %>
                <span class="fa fa-time co2"></span>
            <% } %>
        </td>
    </tr>
<% }) %>
</script>

<script type="text/template" id="modify_car_wash_template">
<form class="form-horizontal" role="form" method="post" action="">
    <input type="hidden" name="car_wash_id" value="<%= carWashId %>" />
    <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
        <label class="col-sm-2 control-label">用户头像</label>
        <div class="col-sm-5">
            <img class="avatar-circle" src="<%= userAvatar300 %>">
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
        <label class="col-sm-2 control-label">用户呢称</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name='nick' value='<%= userNick %>'>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
        <label class="col-sm-2 control-label">用户邮箱</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= userEmail %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
        <label class="col-sm-2 control-label">用户性别</label>
        <div class="col-sm-2">
            <select name="gender" class="form-control">
                <option value="0" <% if(userGender == 0){ %> selected <% } %> >未设置</option>
                <option value="1" <% if(userGender == 1){ %> selected <% } %> >男</option>
                <option value="2" <% if(userGender == 2){ %> selected <% } %> >女</option>
            </select>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
        <label class="col-sm-2 control-label">出生日期</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" readonly name='birthday' id="birthday_modify" value='<%= birthday %>'>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
        <label class="col-sm-2 control-label">个人简介</label>
        <div class="col-sm-6">
            <textarea name="des" rows="6" class="form-control" placeholder=""><%= userDesc %></textarea>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
        <label class="col-sm-2 control-label">上次活跃时间</label>
        <div class="col-sm-6">
            <p class="form-control-static"><%= lastActive %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
        <label class="col-sm-2 control-label">注册ip</label>
        <div class="col-sm-6">
            <p class="form-control-static"><%= ip %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
        <label class="col-sm-2 control-label">注册日期</label>
        <div class="col-sm-6">
            <p class="form-control-static"><%= registerDate %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
        <label class="col-sm-2 control-label">用户状态</label>
        <div class="col-sm-2">
            <select name="state" class="form-control">
                {% for state in states %}
                <option value="{{state.value}}" <% if(state == {{state.value}}){ %> selected <% } %> >{{state.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 border-bottom bdc-eee">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary save">提交你的修改</button>
        </div>
    </div>
</form>
</script>
{% endblock right %}