{% extends "pc/base/base.html" %}

{% block title %}网点地图{% endblock %}

{% block base_css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/index.css?v={{MEDIA_VERSION}}" />

{% endblock %}


{% block base_js %}
<script type="text/javascript" src="http://api.map.baidu.com/api?type=quick&ak=o4O12xsCGirt60xLVt1GLTI6&v=1.0"></script>
<script type="text/javascript">
$(document).ready(function(){

});
</script>
{% endblock %}

{% block base_container %}
<div id="map">

</div>
{% endblock %}

{% block footer %}{% endblock %}