{% extends "base/base.html" %}

{% block base_css %}
<style type="text/css">

.nav-pills>.active>a>.badge {
	padding: 2px 5px;
	background-color: #f36119;
	color: #fff;
}

.nav-pills .badge {
	padding: 2px 5px;
	/*background-color: #f36119;*/
	color: #fff;
}
</style>
	{% block css %}{% endblock css %}
{% endblock %}

{% block base_js %}
	{% block javascript %}{% endblock javascript %}
{% endblock %}

{% block container %}
<div class="col-md-8">
	<ul class="nav nav-pills pt-15 qx-nav-pills">
		<li {% if "/message/system_message" == request.path %} class="active" {%endif%}>
			<a href="/message/system_message" class="black-blue">
				系统消息
				{% if unread_count_info.system_message > 0 %}
				<span class="ml-5 badge">{{unread_count_info.system_message}}</span>
				{% endif %}
			</a>
		</li>
		<li {% if "/message/received_like" == request.path %} class="active" {%endif%}>
			<a href="/message/received_like" class="black-blue">
				收到的赞
				{% if unread_count_info.received_like > 0 %}
				<span class="ml-5 badge">{{unread_count_info.received_like}}</span>
				{% endif %}
			</a>
		</li>
		<li {% if "/message/received_answer" == request.path %} class="active" {%endif%}>
			<a href="/message/received_answer" class="black-blue">
				收到的回复
				{% if unread_count_info.received_answer > 0 %}
				<span class="ml-5 badge">{{unread_count_info.received_answer}}</span>
				{% endif %}
			</a>
		</li>
		<li {% if "/message/at_answer" == request.path %} class="active" {%endif%}>
			<a href="/message/at_answer" class="black-blue">
				@提到我的
				{% if unread_count_info.at_answer > 0 %}
				<span class="ml-5 badge">{{unread_count_info.at_answer}}</span>
				{% endif %}
			</a>
		</li>
	</ul>
	{% block left %}{% endblock left %}
</div>

<div class="col-md-4 pl-70 pt-15">
	{% block right %}{% endblock right %}
</div>
{% endblock container %}