{% extends "message/base_message.html" %}

{% load custom_tags %}
{% load custom_filters %}

{% block title %}收到的回复{% endblock %}

{% block css %}{% endblock %}
{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
	
});
</script>
{% endblock %}

{% block left %}
{% if answers %}
<ul class="list-group">
	{% for answer in answers %}
	<li class="list-group-item bdc-eee pl-0 border-left-0 border-right-0">
		<a href="{{answer.from_user.get_url}}">
			<img class="img-rounded avatar-35 pa" alt="{{answer.from_user.nick}}" src="{{answer.from_user.get_avatar_65}}">
		</a>
		<div class="pl-45">
			<div>
				用户<a href="{{answer.from_user.get_url}}" class="co5 pr-5 pl-5">{{answer.from_user.nick}}</a>回复了你的{{answer.get_obj_type_display}}
				<a href="{{answer.obj.get_url}}" class="co5 pr-5 pl-5">{{answer.obj.title|str_display:30}}</a>
			</div>
			<div class="f12 pt-5">{{answer.get_summary}}</div>
			<div class="co2 f12 pt-5">{{answer.create_time}}</div>
		</div>
	</li>
	{% endfor %}
</ul>
{{page_params|paging:request}}
{% else %}
<div class="blank10"></div>
<div class="alert alert-info popmsg box-shadow-224 border-radius-0">暂无</div>
{% endif %}
{% endblock left %}
