{% extends "message/base_message.html" %}

{% load custom_tags %}
{% load custom_filters %}

{% block title %}系统消息{% endblock %}

{% block css %}{% endblock %}
{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
	
});
</script>
{% endblock %}

{% block left %}
{% if system_messages %}
<ul class="list-group">
	{% for sm in system_messages %}
	<li class="list-group-item bdc-eee pl-0 border-left-0 border-right-0">
		<div>
			{{sm.content|safe}}
		</div>
		<div class="co2 f12 pt-5">{{sm.create_time}}</div>
	</li>
	{% endfor %}
</ul>
{{page_params|paging:request}}
{% else %}
<div class="blank10"></div>
<div class="alert alert-info popmsg box-shadow-224 border-radius-0">暂无</div>
{% endif %}
{% endblock left %}
