{% extends "pc/base/base.html" %}

{% block title %}网点地图{% endblock %}

{% block base_css %}
<link rel="stylesheet" type="text/css" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css">
<style type="text/css">
#map *{
    box-sizing: content-box;
}

#map label{
    max-width: none;
}
</style>
{% endblock %}


{% block base_js %}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=o4O12xsCGirt60xLVt1GLTI6"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#map').css({'height': $(window).height(), 'padding-top': 61})

    var data = eval({{data_json|safe}});

    // 弹出信息
    var getContent = function(obj){
        return String.format([
                '<div class="co6 f18 pt-5 pb-5"><a target="_blank" href="/car_wash/{4}">{0}</a></div>',
                '<div class="pt-5 pb-5">联系电话: <span class="pl-5">{1}</span></div>',
                '<div class="pt-5 pb-5">地址: <span class="pl-5">{2}</span></div>'
            ].join(''), obj.name, obj.tel, obj.address, obj.lowestSalePrice, obj.id);
    };

    var map = new BMap.Map("map"), points = [];
    map.centerAndZoom("{{city.city}}", 13);
    map.enableScrollWheelZoom(true);

    var markerRed = new BMap.Icon("{{MEDIA_URL}}img/marker.gif", new BMap.Size(24, 31)),
        markerBlue = new BMap.Icon("{{MEDIA_URL}}img/marker.gif", new BMap.Size(24, 31));
    markerRed.setAnchor(new BMap.Size(14, 32));
    markerBlue.setAnchor(new BMap.Size(14, 32));
    markerBlue.setImageOffset(new BMap.Size(0, -31));

    $.map(data, function(i){
        
        points.push(new BMap.Point(i.longitude, i.latitude));

        // 创建点
        var marker = new BMap.Marker(new BMap.Point(i.longitude, i.latitude));
        marker.setTitle(i.name);
        marker.setIcon(markerRed);
        var label = new BMap.Label(i.id);
        label.setStyle({
            display: "block",
            background: "transparent",
            fontSize: "13px",
            width: "24px",
            height: "31px",
            padding: "0",
            border: "none",
            color: "#fff",
            textAlign: "center",
            lineHeight: "24px",
            fontFamily : "Microsoft YaHei"
        });
        marker.setLabel(label);
        map.addOverlay(marker);

        // 添加事件
        marker.addEventListener("mouseover", function(e){
            marker.setIcon(markerBlue);
        });
        marker.addEventListener("mouseout", function(e){
            marker.setIcon(markerRed);
        });
        marker.addEventListener("click", function(e){
            var target = e.target,
                point = new BMap.Point(target.getPosition().lng, target.getPosition().lat),
                searchInfoWindow = new BMapLib.SearchInfoWindow(
                    map, 
                    getContent(i), 
                    {
                        title: i.name, //标题
                        panel: "panel", //检索结果面板
                        width: 290,
                        offset: new BMap.Size(0, 15),
                        enableAutoPan: true, //自动平移
                        searchTypes: [
                            BMAPLIB_TAB_TO_HERE,
                            BMAPLIB_TAB_FROM_HERE
                        ]
                    }
                );

            searchInfoWindow.open(point);
        });
        
    });
    
    map.setViewport(points);
    
});
</script>
{% endblock %}

{% block base_container %}
<div id="map">

</div>
{% endblock %}

{% block footer %}{% endblock %}