{% extends "pc/base/base.html" %}

{% block title %}网点地图{% endblock %}

{% block base_css %}
<link rel="stylesheet" type="text/css" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css">
<style type="text/css">
#map *{
    box-sizing: content-box;
}

#map .BMap_bubble_content *{
    box-sizing: border-box;
}

#map label{
    max-width: none;
}

a.list-group-item:hover{
    background-color: #eee;
}

.locations .active{
    background-color: #3291D5;
    color: white;
}

.locations .active>a{
    background-color: #3291D5;
    color: white;
}

.list-inline>li{
    padding: 6px 10px 6px 10px;
}

.districts>li>a{
    color: #ffffff;
}

.districts>li>a:hover{
    color: #65c3ed;
}

.districts>li.active>a{
    color: #65c3ed;
}

</style>
{% endblock %}


{% block base_js %}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=o4O12xsCGirt60xLVt1GLTI6"></script>

<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    // 
    $('#map').css({'height': $(window).height()})

    var data = eval({{data_json|safe}});

    // 弹出信息
    var getContent = function(obj){
        return String.format([
                '<div class="f18 pt-5 pb-5">',
                    '<span class="fb">{0}</span>',
                    '<a class="co6 pl-5 f12" target="_blank" href="/car_wash/{4}">详情»</a>',
                '</div>',
                // '<div class="pt-5 pb-5">联系电话: <span class="pl-5">{1}</span></div>',
                '<div class="pt-5 pb-5">洗车价格: ',
                    '<span class="co2 f18 fb pl-5"><i class="fa fa-rmb"></i>{3}元</span>',
                    '<span class="f14 line-through pl-5 co1"><i class="fa fa-rmb"></i>{5}元</span>',
                '</div>',
                '<div class="pt-5 pb-5">地址: <span class="pl-5">{2}</span></div>'
            ].join(''), obj.name, obj.tel, obj.address, obj.lowest_sale_price, obj.id, obj.lowest_origin_price);
    };

    var map = new BMap.Map("map"), points = [], markers = {};
    map.centerAndZoom("{{city.city}}", 13);
    map.addControl(
        new BMap.NavigationControl({
            anchor: BMAP_ANCHOR_TOP_RIGHT, 
            type: BMAP_NAVIGATION_CONTROL_SMALL
        })
    );
    map.enableScrollWheelZoom(true);

    var markerRed = new BMap.Icon("{{MEDIA_URL}}img/marker.gif", new BMap.Size(24, 31)),
        markerBlue = new BMap.Icon("{{MEDIA_URL}}img/marker.gif", new BMap.Size(24, 31));
    markerRed.setAnchor(new BMap.Size(14, 32));
    markerBlue.setAnchor(new BMap.Size(14, 32));
    markerBlue.setImageOffset(new BMap.Size(0, -31));

    $.map(data, function(i){
        
        points.push(new BMap.Point(i.longitude, i.latitude));

        // 创建点
        var marker = new BMap.Marker(new BMap.Point(i.longitude, i.latitude));
        marker.setTitle(i.name);
        marker.setIcon(markerRed);
        var label = new BMap.Label(i.id);
        label.setStyle({
            display: "block",
            background: "transparent",
            fontSize: "13px",
            width: "24px",
            height: "31px",
            padding: "0",
            border: "none",
            color: "#fff",
            textAlign: "center",
            lineHeight: "24px",
            fontFamily : "Microsoft YaHei"
        });
        marker.setLabel(label);
        map.addOverlay(marker);

        // 添加事件
        marker.addEventListener("mouseover", function(e){
            marker.setIcon(markerBlue);
        });
        marker.addEventListener("mouseout", function(e){
            marker.setIcon(markerRed);
        });
        marker.addEventListener("click", function(e){
            var target = e.target,
                point = new BMap.Point(target.getPosition().lng, target.getPosition().lat),
                searchInfoWindow = new BMapLib.SearchInfoWindow(
                    map, 
                    getContent(i), 
                    {
                        title: i.name, //标题
                        panel: "panel", //检索结果面板
                        width: 290,
                        offset: new BMap.Size(0, 15),
                        enableAutoPan: true, //自动平移
                        searchTypes: [
                            BMAPLIB_TAB_TO_HERE,
                            BMAPLIB_TAB_FROM_HERE
                        ]
                    }
                );
            
            searchInfoWindow.open(point);
        });

        markers[i.id+""] = marker;
        
    });
    
    window.setTimeout(function(){
        map.setViewport(points);
    }, 1200);
    

    $('.list-group-item')
    .bind('mouseenter', function(){
        var me = $(this);
        me.find('.marker').attr('src', '{{MEDIA_URL}}img/blue-marker.png');
        markers[me.data("car_wash_id")].setIcon(markerBlue);
        map.panTo(new BMap.Point(me.data("car_wash_longitude"), me.data("car_wash_latitude"))); 
    })
    .bind('mouseleave', function(){
        var me = $(this);
        me.find('.marker').attr('src', '{{MEDIA_URL}}img/red-marker.png');
        markers[me.data("car_wash_id")].setIcon(markerRed);
    });

    $('.location').bind('click', function(){
        if($('.locations').css('display') == "none"){
            $('.locations').show('fast');
        } else {
            $('.locations').hide('fast');
        }
    });

    $('.district').bind('click', function(){
        if($('.districts').css('display') == "none"){
            $('.districts').show('fast');
        } else {
            $('.districts').hide('fast');
        }
    });
});
</script>
{% endblock %}

{% block header %}{% endblock %}

{% block base_container %}
<div id="map" class="mr-300">

</div>

<!-- logo -->
<div class="logo pa" style="left:10px; top:0;">
    <a href="/" class="inline-block pt-15 pb-15 pl-50 pr-20 f25 co15">
        嗷嗷洗车
        <img class="w40 pa" style="left: 5px; top: 13px;" src="{{MEDIA_URL}}img/logo.png">
    </a>
</div>

<!-- car_wash_list -->
<div class="pf w300 h bgc-f4f4f4 border-left bdc-e6e6e6" style="box-shadow: -2px 0px 4px #999; right:0; top:0">
    <div class="pt-10 pl-0 pb-10 border-bottom bdc-e6e6e6 bgc-ffffff row mr-0 ml-0">
        <div class="col-md-6 f16 pr">
            <span class="pointer location" onselectstart="return false;">{{city.city}}<i class="fa fa-angle-down pl-5 f18"></i></span>
            <ul class="locations none w300 list-inline f14 pt-15">
                {% for open_city in open_citys %}
                <li {% if city.id == open_city.id %} class="active" {% endif %} >
                    <a href="/car_wash/map?city_id={{open_city.id}}" class="no-underline">{{open_city.city}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6 text-right none">
            <span class="co9 district pointer" onselectstart="return false;">
                <i class="fa fa-map-marker f16 pr-5"></i>选择区域
            </span>
        </div>
    </div>
    <ul class="districts bgc-888888 co5 none w300 list-inline f14 pt-0 mt-0 mb-0 ml--1">
        {% for district in districts %}
        <li>
            <a href="#" class="no-underline">{{district.district}}</a>
        </li>
        {% endfor %}
    </ul>
    <ul class="list-group">
        {% for car_wash in car_washs %}
        <a class="list-group-item border-left-0 border-right-0 bgc-f8f8f8" data-car_wash_id="{{car_wash.id}}" data-car_wash_longitude="{{car_wash.longitude}}" data-car_wash_latitude="{{car_wash.latitude}}" href="/car_wash/{{car_wash.id}}" target="_blank">
            <div class="row pr">
                <img class="pa marker" style="left:15px; top:20px;" src="{{MEDIA_URL}}img/red-marker.png">
                <span class="pa co5 inline-block text-center" style="left:15px; top:22px; width: 24px;">{{car_wash.id}}</span>
                <div class="pl-60 f13 pt-5 pb-5">
                    <div class="fb f15">{{car_wash.name}}</div>
                    <div class="pt-5">{{car_wash.addr}}</div>
                    <div>
                        洗车价格: 
                        <span class="co2 f18 fb pl-5"><i class="fa fa-rmb"></i>{{car_wash.lowest_sale_price}}元</span>
                        <span class="f14 line-through pl-5 co1"><i class="fa fa-rmb"></i>{{car_wash.lowest_origin_price}}元</span>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block footer %}{% endblock %}