{% extends "pc/base/base.html" %}

{% load custom_filters %}

{% block title %}订单{% endblock %}

{% block base_css %}
<style type="text/css">
body{
    background-color: #f1f1f1;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
</style>
{% endblock %}

{% block base_js %}
<script type="text/javascript">
$(document).ready(function(){
    var calculatePrice = function(){
         var price = 0,
            // 单价
            unitPrice = parseFloat($('.unit-price').html()), 
            // 购买数量
            payCount = parseInt($('.pay-count').val()),     
            // 总价
            totalPrice = unitPrice * payCount, 
            // 优惠券价格
            couponPrice = ($('.coupon-price').length > 0) 
                            ? parseFloat($('.coupon-price option:selected').data('discount')) 
                            : 0,
            // 优惠券类型
            couponType = ($('.coupon-price').length > 0) 
                            ? $('.coupon-price option:selected').data('coupon_type')
                            : 0,
            // 余额
            balance = parseFloat($('.use-balance').attr('checked') ? $('.balance').html() : 0), 
            // 需支付价格
            needPrice = 0; 
        
        // 优惠类型为 减多少钱
        if(couponType == "0"){
            price = balance - (totalPrice - couponPrice);
        } else {
            price = balance - (totalPrice - unitPrice + couponPrice);
        }
        

        if(price > 0){
            needPrice = 0;
        } else {
            needPrice = Math.abs(price);
        }

        $('.total-price').html(totalPrice);
        $('.need-price').html($.Global.Utils.formatPrice(needPrice));

        // 如果价格为0 则隐藏支付方式
        if(needPrice <= 0){
            $('.pay-item').hide();
        } else {
            $('.pay-item').show();
        }
        $("#page_show_pay_fee_id").val(needPrice);
    };

    // 绑定触发支付事件
    $('.pay-count').bind('change', function(){calculatePrice();});
    $('.coupon-price').bind('change', function(){calculatePrice();});
    $('.use-balance').bind('change', function(){calculatePrice();});

    calculatePrice();
});
</script>
{% endblock %}

{% block container %}
<div class="row pt-60 pl-35 pr-35">
    <div class="col-md-12 border-1 mt-15 bgc-ffffff bdc-d0d0d0 pt-10" style="box-shadow: 1px 1px 4px #D8D8D8; ">
        <form method="post" action="/car_wash/create_order/{{service_price.id}}">
            <table class="table mb-10">
                <thead>
                    <tr>
                        <th>服务项目</th>
                        <th class="text-center">服务单价</th>
                        <th class="text-center">购买数量</th>
                        <th class="text-center">需支付</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="pr">
                            <img class="w150 pa" src="{{service_price.car_wash.get_cover}}">
                            <div class="pl-165">
                                <div class="f16">{{service_price.car_wash.name}}</div>
                                <div class="f16 fb pt-10">{{service_price.service_type.name}}</div>
                            </div>
                        </td>
                        <td>
                            <div class="text-center f20">
                                <i class="fa fa-rmb"></i>
                                <span class="unit-price">{{service_price.sale_price|smart_show_float}}</span>
                            </div>
                        </td>
                        <td class="text-center">
                            <select class="input-sm pay-count" name="count">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </td>
                        <td>
                            <div class="text-center f20 co15">
                                <i class="fa fa-rmb"></i>
                                <span class="total-price">{{service_price.sale_price|smart_show_float}}</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="border-top bdc-eee pb-5 row mr-0 ml-0">
                <div class="col-md-3 col-md-offset-9 pl-30 pr-10 pt-15">
                    <div class="text-right">
                        <span class="pr-5">使用优惠券</span>
                        {% if coupons %}
                        <select class="input-sm coupon-price" name="coupon_id">
                            <option value="0" data-discount="0" data-coupon_type="0">不使用</option>
                            {% for coupon in coupons %}
                            <option value="{{coupon.id}}" data-discount="{{coupon.discount}}" data-coupon_type="{{coupon.coupon_type}}" >{{coupon.get_display}}</option>
                            {% endfor %}
                        </select>
                        {% else %}
                        <span>暂无</span>
                        {% endif %}
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="1" class="use-balance" name="use_user_cash"> 使用账户余额
                        </label>

                        <span class="pull-right f16 co15">
                            <i class="fa fa-rmb"></i>
                            <span class="balance">{{user_cash.balance|smart_show_float}}</span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="border-top bdc-eee pb-5 row mr-0 ml-0">
                <div class="text-right pt-10 pb-10">
                    还需支付:
                    <span class="co15 f25 pl-10">
                        <i class="fa fa-rmb"></i>
                        <span class="need-price">0.00</span>
                    </span>
                </div>
            </div>

            <div class="pay-item border-top bdc-eee pb-5 row mr-0 ml-0 pt-10 pb-10 text-right">
                <span>支付方式:</span>
                <label class="pl-15">
                    <input type="checkbox" checked="checked" value="1" name="pay_type" disabled> <img class="h32" src="{{MEDIA_URL}}img/zhifubao.png">
                </label>
                <span class="co1">(目前仅支持支付宝支付)</span>
            </div>

            <div class="border-top bdc-eee pb-5 row mr-0 ml-0 pt-10 pb-10 text-right">
                <input type="hidden" name="page_show_pay_fee" value="" id="page_show_pay_fee_id" />
                <button class="btn btn-orange" type="submit">确 认 支 付</button>
            </div>
        </form>
    </div>
    
</div>
{% endblock container %}