{% extends "pc/base/base.html" %}

{% block base_js %}
    {% block javascript %}{% endblock %}
{% endblock %}

{% block base_css %}
<style type="text/css">
.nav-bar .list-group-item{
    background-color: #293541;
    border: 0;
    border-top: solid 1px #4A4A4A;
    color: #6a737a;
}
.nav-bar .list-group-item:hover{
    background-color: #34404c; 
    color: #fffffd;
}

.nav-bar .active.list-group-item{
    background-color: #34404c; 
    color: #fffffd;
}

.nav-bar .fa-arrow-circle-o-right{
    display: none;
}

.nav-bar .list-group-item:hover .fa-arrow-circle-o-right{
    display: block;
    color: #6a737a;
}

.nav-bar .active.list-group-item .fa-arrow-circle-o-right{
    display: block;
    color: #6a737a;
}

.nav-bar .list-group-item:first-child{
    border-top: 0;
    border-radius: 0px;
}

.nav-bar .list-group-item:last-child{
    border-radius: 0px;
}
</style>
    {% block css %}{% endblock %}
{% endblock %}

{% block header %}{% endblock header %}

{% block base_container %}
<div class="container-fluid pr pl-0 pr-0">
    <div class="pa w300 bgc-e57e31">
        <div class="h100 bgc-e57e31 pr pl-80 pt-20">
            <img style="left: 15px; top: 20px;" class="w60 pa" src="{{MEDIA_URL}}img/logo_white_1.png">
            <div class="f20 co5 fb">嗷嗷洗车 商户平台</div>
            <div class="f15 co5 pt-2 pr-5">高新区九方洗车行</div>
        </div>
        <div class="frame-left min-h600 bgc-293541">
            <ul class="list-group nav-bar pl-15 pr-15 pt-15 mb-0">
                <a class="active list-group-item pt-15 pb-15 pl-20 pr-20" href="#">
                    <i class="fa fa-barcode pr-10"></i>验证洗车码
                    <i class="fa fa-arrow-circle-o-right pull-right f20"></i>
                </a>
                <a class="list-group-item pt-15 pb-15 pl-20 pr-20" href="#">
                    <i class="fa fa-list-alt pr-10"></i>账户流水
                    <i class="fa fa-arrow-circle-o-right pull-right f20"></i>
                </a>
                <a class="list-group-item pt-15 pb-15 pl-20 pr-20" href="#">
                    <i class="fa fa-area-chart pr-10"></i>对账统计
                    <i class="fa fa-arrow-circle-o-right pull-right f20"></i>
                </a>
            </ul>
        </div>
    </div>
    <div class="pl-300 w">
        <div class="h100 bgc-ffffff row mr-0 ml-0">
            <div class="col-md-3 f22 pt-30 pl-35 co9">{% block page_title %}{% endblock %}</div>
            <div class="col-md-9 text-right pt-30">
                <img class="img-circle avatar-35" src="http://tp1.sinaimg.cn/1613200184/180/1286542530/1">
                <span>stranger</span>
                <a class="co8 pl-5" href="#"><i class="fa fa-sign-out"></i>退出平台</a>
            </div>
        </div>
        <div class="frame-right min-h600 bgc-f2f3f8">
            {% block right %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}