{% extends "pc/shop/base_shop.html" %}
{% block title %}对账统计{% endblock %}

{% block page_title %}对账统计{% endblock %}

{% block css %}
<style type="text/css">

</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{MEDIA_URL}}js/echarts/echarts.js"></script>
<script type="text/javascript">
require.config({
    paths: {
        echarts: '{{MEDIA_URL}}js/echarts'
    }
});

require(
    [
        "echarts", 
        "echarts/chart/line", 
        "echarts/chart/bar"
    ],
    function(ec){
        echarts = ec;
        
        getChart();
    }
);

var echarts,
    getChart = function(){
        var main = echarts.init(document.getElementById('main'));
        
        main.setOption({
            title: {
                text: '收入曲线'
            },
            tooltip : {
                trigger: 'axis',
                axisPointer: {
                    type: 'line',
                    lineStyle : {
                      color: '#ddd',
                      width: 1,
                      type: 'solid'
                    }
                },
                formatter: '{b}<br />{a}: {c} 元'
            },
            legend: {
                data:['收入']
            },
            toolbox: {
                show : false
            },
            calculable : false,
            xAxis : [{
                type : 'category',
                boundaryGap : false,
                data: {{days|safe}}
            }],
            yAxis : [{
                type : 'value'
            }],
            color: ['#EF8A55', '#428bca'],
            series : [{
                name:'收入',
                type:'line',
                smooth: true,
                itemStyle: {
                    normal: {
                        areaStyle: {
                            type: 'default'
                        }
                    }
                },
                data: {{values|safe}}
            }]
        });
    };


$(document).ready(function(){
    $('.start-date').datetimepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
        minView: 2,
        autoclose: true
    });

    $('.end-date').datetimepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
        minView: 2,
        autoclose: true
    });
});
</script>
{% endblock %}

{% block right %}
<div class="row mr-0 ml-0">
    <div class="col-md-8 pb-10">
    </div>
    <div class="col-md-8 pt-10 pb-20">
        <form class="form-inline" role="form" method="post">
            <div class="input-group">
                <div class="input-group-addon">开始日期</div>
                <input type="text" class="input form-control start-date" value="{{start_date}}" name="start_date">
            </div>
            <div class="input-group">
                <div class="input-group-addon">结束日期</div>
                <input type="text" class="input form-control end-date" value="{{end_date}}" name="end_date">
            </div>
            <div class="input-group">
                <button class="btn btn-default">查 询</button>
            </div>
        </form>
    </div>
    <div id="main" class="col-md-12 min-h400 pl-15 pr-15"></div>

    <div class="blank20"></div>
    <div class="col-md-12 text-center pr-0 pt-10 f15">
        <span class="pr-15 co1">{{start_date}} 到 {{end_date}}</span>
        <span class="pr-15">总兑换次数: <span class="co8 fb">{{in_reords_count}}</span></span>
        <span class="pr-15">总收入: <span class="co8 fb">{{total_fee}} 元</span></span>
    </div>
</div>
{% endblock %}