{% extends "pc/shop/base_shop.html" %}
{% block title %}验证洗车码{% endblock %}

{% block page_title %}验证洗车码{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
	$('.code').focus();

	// 查询洗车码
	$('.search').bind('click', function(){
		$('.order-detail').hide();

		var code = $('.code').val();
		if(code == ""){
			return;
		}

		g_ajax_processing_obj_id = $('.search').setUUID().attr('id');
		ajaxSend(
			'/shop/' + CAR_WASH_ID + '/get_order_code', 
			{code: code},
			function(response){
				if($.isEmptyObject(response)){
					$.Global.Notice.InfoTopNotice("洗车码不存在，请重新输入");
					$('.code').select();
					return;
				}

				$('.use').hide();
				$('.order-detail').show();

				// form 赋值
				for(var key in response){
					$('.order-detail' + ' .' + key).html(response[key]);
				}
				// 状态信息
				switch(response.state){
					case 0:
						$('.order-detail .state').html('<span class="co10">未消费</span>');
						$('.use').show();
						break;

					case 1:
						$('.order-detail .state').html('<span class="co2">此洗车码已于时间 '+response.use_time+' 消费</span>');
						break;

					default:
						$('.order-detail .state').html(response.state_display);
						break;
				}
			} 
		);
	});

	// 使用洗车码
	$('.use').bind('click', function(){
		if(confirm("确认使用此洗车码？")){
			g_ajax_processing_obj_id = $('.use').setUUID().attr('id');

		}
	});
	
});
</script>
{% endblock %}

{% block right %}
<div class="row mr-0 ml-0">
	<div class="col-md-12 pt-30 pl-20">
		<form onsubmit="javscript:return false;">
			<div class="col-md-3">
				<input type="text" class="form-control code" placeholder="输入洗车码">
			</div>
			<div class="col-md-2 pl-0">
				<button type="submit" class="btn btn-default search">查 询</button>
			</div>
		</form>
	</div>
	<div class="col-md-7 pt-0 pl-50 pr-50 order-detail none">
		<div class="row border-bottom-2 bdc-bbb pt-30 pb-5 pl-5">订单详情</div>

		<form class="form-horizontal" onsubmit="javascript:return false;">
	        <div class="form-group pt-10 pb-10 mb-0 border-bottom bdc-ddd">
	            <label class="col-md-2 control-label pl-0">所属洗车行</label>
	            <div class="col-md-6">
	                <p class="form-control-static car_wash_name">成都高新区紫荆洗车站</p>
	            </div>
	        </div>
	        <div class="form-group pt-10 pb-10 mb-0 border-bottom bdc-ddd">
	            <label class="col-md-2 control-label">状态</label>
	            <div class="col-md-10">
	                <p class="form-control-static fb state"></p>
	            </div>
	        </div>
	        <div class="form-group pt-10 pb-10 mb-0 border-bottom bdc-ddd">
	            <label class="col-md-2 control-label">服务类型</label>
	            <div class="col-md-4">
	                <p class="form-control-static service_type_name">洗车专用</p>
	            </div>
	            <label class="col-md-2 control-label">洗车码</label>
	            <div class="col-md-4">
	                <p class="form-control-static code">4235 2254 2512</p>
	            </div>
	        </div>
	        <div class="form-group pt-10 pb-10 mb-0 border-bottom bdc-ddd">
	            <label class="col-md-2 control-label">销售价格</label>
	            <div class="col-md-4">
	                <p class="form-control-static sale_price">30.00</p>
	            </div>
	            <label class="col-md-2 control-label">结算价格</label>
	            <div class="col-md-4">
	                <p class="form-control-static clear_price">15.00</p>
	            </div>
	        </div>
	        <div class="form-group pt-10 pb-10 mb-0 border-bottom bdc-ddd">
	            <label class="col-md-2 control-label">购买人</label>
	            <div class="col-md-4">
	                <p class="form-control-static user_nick">stranger</p>
	            </div>
	            <label class="col-md-2 control-label">购买时间</label>
	            <div class="col-md-4">
	                <p class="form-control-static pay_time">2014-12-12 15:23</p>
	            </div>
	        </div>
	        <div class="form-group pt-15 pb-10 mb-0">
	            <button class="btn btn-orange use">确认消费</button>
	        </div>
	    </form>
	</div>
</div>
{% endblock %}