body {
	padding-top: 0px; 
	font-family: "Helvetica Neue",Helvetica,"Lucida Grande","Luxi Sans",Arial,"Hiragino Sans GB",STHeiti,"Microsoft YaHei","Wenquanyi Micro Hei","WenQuanYi Micro Hei Mono","WenQuanYi Zen Hei","WenQuanYi Zen Hei Mono",LiGothicMed; 
	font-size: 14px; 
	color: #222;
}

.line-through{text-decoration: line-through;}
.no-underline{text-decoration: none;}
.no-underline:hover{text-decoration: none;}

.hidden{visibility:hidden}
.auto-hide{display: none;}
.none{display:none}
.block{display:block;}
.inline-block{display:inline-block;}
.pointer{cursor: pointer;}

.fb{font-weight: bold;}

.f11{font-size: 11px;}
.f12{font-size: 12px;}
.f13{font-size: 13px;}
.f14{font-size: 14px;}
.f15{font-size: 15px;}
.f16{font-size: 16px;}
.f17{font-size: 17px;}
.f18{font-size: 18px;}
.f19{font-size: 19px;}
.f20{font-size: 20px;}
.f30{font-size: 30px;}
.f40{font-size: 40px;}

.line-height-25{line-height: 25px;}
.line-height-32{line-height: 32px;}

.co1{color: #808080;}
.co2{color: #ef5555;}
.co3{color: #aaaaaa;}
.co4{color: #FDD147;}
.co5{color: #ffffff;}

.mr-0{margin-right: 0px;}
.mr-10{margin-right: 10px;}
.ml-0{margin-left: 0;}
.ml-5{margin-left: 5px;}
.ml-10{margin-left: 10px;}
.mt--2{margin-top: -2px;}
.mt-3{margin-top: 3px;}
.mt-5{margin-top: 5px;}
.mt-15{margin-top: 15px;}
.mt-20{margin-top: 20px;}
.mt-25{margin-top: 25px;}
.mb-0{margin-bottom: 0;}
.mb-10{margin-bottom: 10px;}
.mb-15{margin-bottom: 15px;}

.pt-0{padding-top: 0;}
.pt-2{padding-top: 2px;}
.pt-3{padding-top: 3px;}
.pt-5{padding-top: 5px;}
.pt-10{padding-top: 10px;}
.pt-15{padding-top: 15px;}
.pt-20{padding-top: 20px;}
.pt-25{padding-top: 25px;}
.pt-30{padding-top: 30px;}
.pt-50{padding-top: 50px;}
.pt-55{padding-top: 55px;}
.pl-0{padding-left: 0;}
.pl-3{padding-left: 3px;}
.pl-5{padding-left: 5px;}
.pl-10{padding-left: 10px;}
.pl-15{padding-left: 15px;}
.pl-20{padding-left: 20px;}
.pl-25{padding-left: 25px;}
.pl-35{padding-left: 35px;}
.pl-30{padding-left: 30px;}
.pl-40{padding-left: 40px;}
.pl-45{padding-left: 45px;}
.pl-50{padding-left: 50px;}
.pl-60{padding-left: 60px;}
.pl-70{padding-left: 70px;}
.pl-75{padding-left: 75px;}
.pr-0{padding-right: 0;}
.pr-3{padding-right: 3px;}
.pr-5{padding-right: 5px;}
.pr-10{padding-right: 10px;}
.pr-15{padding-right: 15px;}
.pr-20{padding-right: 20px;}
.pr-26{padding-right: 26px;}
.pr-30{padding-right: 30px;}
.pr-35{padding-right: 35px;}
.pr-50{padding-right: 50px;}
.pb-2{padding-bottom: 2px;}
.pb-3{padding-bottom: 3px;}
.pb-5{padding-bottom: 5px;}
.pb-10{padding-bottom: 10px;}
.pb-15{padding-bottom: 15px;}
.pb-20{padding-bottom: 20px;}
.pb-30{padding-bottom: 30px;}
.pb-50{padding-bottom: 50px;}

.bgc-f0efed{background-color: #f0efed;}
.bgc-f8f8f8{background-color: #f8f8f8;}
.bgc-E0A04A{background-color: #E0A04A;}
.bgc-E8AF47{background-color: #E8AF47;}
.bgc-ffffff{background-color: #ffffff;}
.bgc-65c3ed{background-color: #65c3ed;}

.border-1{border: solid 1px;}
.border-5{border: solid 5px;}
.border-left-0{border-left: 0;}
.border-right-0{border-right: 0;}
.border-right{border-right: solid 1px;}
.border-top-0{border-top: 0;}
.border-bottom-0{border-bottom: 0;}
.border-bottom{border-bottom: solid 1px;}
.border-top{border-top: solid 1px;}
.border-left{border-left: solid 1px;}
.border-left-4{border-left: solid 4px;}

.bdc-e6e6e6{border-color: #e6e6e6;}
.bdc-d0d0d0{border-color: #d0d0d0;}
.bdc-ddd{border-color: #ddd;}
.bdc-fff{border-color: #fff;}
.bdc-39B2E2{border-color: #39B2E2;}
.bdc-E67E22{border-color: #E67E22;}
.bdc-f36119{border-color: #f36119;}
.bdc-999999{border-color: #999999;}

.pa{position: absolute;}
.pr{position: relative;}
.pf{position: fixed;}

.of-hidden{overflow: hidden;}

.h{height: 100%;}
.h40{height: 40px;}
.h50{height: 50px;}
.h155{height: 155px;}
.h200{height: 200px;}
.h225{height: 225px;}
.h250{height: 250px;}

.w{width: 100%;}
.w140{width: 140px;}
.w200{width: 200px;}
.w270{width: 270px;}
.w350{width: 350px;}
.min-w500{min-width: 500px;}

.avatar-25{
	width: 25px;
	height: 25px;
}

.avatar-35{
  width: 35px;
  height: 35px;
}

.avatar-45{
	width: 45px;
	height: 45px;
}

.avatar-55{
	width: 55px;
	height: 55px;
}

.avatar-100{
    width: 100px;
    height: 100px;
}

.z99{
	z-index: 99;
} 