{% extends "mobile/shop/base_shop.html" %}

{% block title %}账户流水{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{MEDIA_URL}}js/mobiscroll/mobiscroll.core.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/mobiscroll/mobiscroll.widget.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/mobiscroll/mobiscroll.scroller.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/mobiscroll/mobiscroll.util.datetime.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/mobiscroll/mobiscroll.datetimebase.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/mobiscroll/mobiscroll.widget.ios.js"></script>
<!-- <script type="text/javascript" src="{{MEDIA_URL}}js/mobiscroll/mobiscroll.android-holo.js"></script> -->
<script type="text/javascript" src="{{MEDIA_URL}}js/mobiscroll/i18n/mobiscroll.i18n.zh.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    var opts = {
        theme: 'ios', // 设置显示主题 
        mode: 'scroller', // 设置日期选择方式，这里用滚动
        display: 'bottom', // 设置控件出现方式及样式
        preset : 'date', // 日期:年 月 日
        dateFormat: 'yy-mm-dd', // 日期格式
        yearText: '年', 
        monthText: '月',
        dayText: '日',
        hourText: '时',
        minuteText: '分',
        lang: 'zh' //设置控件语言
    };

    $('.start-date').mobiscroll(opts);
    $('.end-date').mobiscroll(opts);
});
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/mobiscroll/mobiscroll.animation.css">
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/mobiscroll/mobiscroll.widget.css">
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/mobiscroll/mobiscroll.widget.ios.css">
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/mobiscroll/mobiscroll.scroller.css">
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/mobiscroll/mobiscroll.scroller.ios.css">
<style type="text/css">

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    background-color: #fff;
}

.records .list-group-item{
    background-color: #F2F3F8;
    border-left: 0;
    border-right: 0;
}

.records .list-group-item:first-child{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.records .list-group-item:last-child{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
</style>
{% endblock %}

{% block container %}
<div class="row pt-100 mr-0 ml-0">
    <div class="col-xs-12">
        <div class="border-bottom-2 bdc-bbb pt-20 pb-5">
            查询时间段
            <span class="pull-right co1">
                当前余额: 
                <span class="co8 fb">{{car_wash_cash.balance}}</span> 元
            </span>
        </div>
        <form class="" role="form" method="post">
            <div class="pt-5">
                <div class="col-xs-4 pl-0 pr-0">
                    <input type="text" class="input pl-10 pr-10 form-control start-date" value="{{start_date}}" name="start_date">
                </div>
                
                <div class="col-xs-5 pl-25 pr-0 pr">
                    <input type="text" class="input pl-10 pr-10 form-control end-date" value="{{end_date}}" name="end_date">
                    <span class="pa" style="left: 5px; top: 7px;">至</span>
                </div>
                
                <div class="col-xs-3 pl-0 pr-0 text-right">
                    <button class="btn btn-default search btn-orange" type="submit">查 询</button>
                </div>
            </div>
        </form>
        <!-- <form class="form-inline" role="form" method="post">
            <div class="input-group">
                <div class="input-group-addon">开始日期</div>
                <input type="text" class="input form-control start-date" value="{{start_date}}" name="start_date">
            </div>
            <div class="input-group">
                <div class="input-group-addon">结束日期</div>
                <input type="text" class="input form-control end-date" value="{{end_date}}" name="end_date">
            </div>
            <div class="input-group">
                <button class="btn btn-default search" type="submit">查 询</button>
            </div>
        </form> -->
    </div>

    <div class="col-xs-12">
        <div class="border-bottom-2 bdc-bbb pt-30 pb-5">
            账户流水
            <span class="pull-right co1">总收入<span class="co8 fb"> {{total_fee}}</span> 元</span>
            <span class="pull-right co1">总兑换<span class="co8 fb"> {{in_reords_count}}</span> 次，</span>
            
        </div>
        <ul class="list-group records">
            {% for record in records %}
            <li class="list-group-item row pr-0 pl-0 mr-0 ml-0">
                <div class="col-xs-12 pl-0 pr-0">
                    <div class="f15 col-xs-6 pl-10 pr-0">{{record.notes}}</div>
                    <div class="text-right co3 col-xs-6 pl-0 pr-10">{{record.create_time|date:"Y-m-d H:i"}}</div>
                </div>
                <div class="col-xs-12 pl-0 pr-0">
                    <div class="f13 pt-5 col-xs-7 pl-10 pr-0">余额: {{record.current_balance}}</div>
                    <div class="text-right {% if record.operation == 0 %}co10{% else %}co8{% endif %} f15 fb col-xs-5 pl-0 pr-10">
                        {% if record.operation == 0 %}+{% else %}-{% endif %}{{record.value}}
                    </div>
                </div>
            </li>
            {% endfor %}

            {% if not records %}
            <div class="alert alert-info mr-5 ml-5 mt-10">暂无</div>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}