{% extends "pc/company/base_company.html" %}
{% block title %}洗车行列表{% endblock %}

{% block page_title %}洗车行列表{% endblock %}

{% block css %}
<style type="text/css">
.list-inline>li{
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 20px;
}
</style>
{% endblock %}

{% block right %}
<div class="row mr-0 ml-0">
    <div class="col-md-12 pt-30 pl-20">
        <form onsubmit="javscript:return false;">
            <div class="col-md-4">
                <input type="text" class="form-control code" placeholder="输入洗车行名称">
            </div>
            <div class="col-md-2 pl-0">
                <button type="submit" class="btn btn-default search">查 询</button>
            </div>
        </form>
    </div>

    <div class="col-md-12 pt-0 pl-30 pr-50 order-detail">
        <div class="border-bottom-2 bdc-bbb pt-30 pb-5 f16 pl-5">
            下属洗车行共 <span class="f20 co8 fb">5</span> 家
        </div>
        <ul class="list-inline row ml-0 mr-0">
            <li class="col-md-4">
                <div class="bgc-ffffff f13" style="box-shadow: 2px 2px 6px #CFCFCF">
                    <div>
                        <img class="w" src="http://img0.aoaoxc.com/car_wash_2a7cd8148bfd11e498d5685b35d0bf16">
                    </div>
                    <div class="f16 pt-10 pl-10 pr-10">置信精典汽车快修(蜀光路店)</div>
                    <div class="co1 pt-10 pl-10 pr-10 pr pl-35">
                        <i class="pa fa fa-map-marker f16" style="left: 13px; top: 10px;"></i>
                        <span>成都市金牛区蜀光路2号</span>
                    </div>
                    <div class="co1 pt-3 pl-10 pr-10 pr pl-35">
                        <i class="pa fa fa-car" style="left: 10px; top: 5px;"></i>
                        <span>订单数: 58</span>
                    </div>
                    <div class="co1 pt-3 pl-10 pr-10 pb-5 pr pl-35">
                        <i class="pa fa fa-rmb f15" style="left: 13px; top: 5px;"></i>
                        <span>账户金额: <span class="fb f14">1586.23</span></span>
                    </div>
                </div>
            </li>

            <li class="col-md-4">
                <div class="bgc-ffffff f13" style="box-shadow: 2px 2px 6px #CFCFCF">
                    <div>
                        <img class="w" src="http://img0.aoaoxc.com/car_wash_0f1affd68db911e4b6af00163e0237be">
                    </div>
                    <div class="f16 pt-10 pl-10 pr-10">置信精典汽车快修(永盛南街店)</div>
                    <div class="co1 pt-10 pl-10 pr-10 pr pl-35">
                        <i class="pa fa fa-map-marker f16" style="left: 13px; top: 12px;"></i>
                        <span>成都市金牛区蜀光路2号</span>
                    </div>
                    <div class="co1 pt-3 pl-10 pr-10 pr pl-35">
                        <i class="pa fa fa-car" style="left: 10px; top: 7px;"></i>
                        <span>订单数: 58</span>
                    </div>
                    <div class="co1 pt-3 pl-10 pr-10 pb-5 pr pl-35">
                        <i class="pa fa fa-rmb f15" style="left: 13px; top: 7px;"></i>
                        <span>账户金额: <span class="fb f14">1586.23</span></span>
                    </div>
                </div>
            </li>

            <li class="col-md-4">
                <div class="bgc-ffffff f13" style="box-shadow: 2px 2px 6px #CFCFCF">
                    <div>
                        <img class="w" src="http://img0.aoaoxc.com/car_wash_2a7cd8148bfd11e498d5685b35d0bf16">
                    </div>
                    <div class="f16 pt-10 pl-10 pr-10">置信精典汽车快修(蜀光路店)</div>
                    <div class="co1 pt-10 pl-10 pr-10 pr pl-35">
                        <i class="pa fa fa-map-marker f16" style="left: 13px; top: 12px;"></i>
                        <span>成都市金牛区蜀光路2号</span>
                    </div>
                    <div class="co1 pt-3 pl-10 pr-10 pr pl-35">
                        <i class="pa fa fa-car" style="left: 10px; top: 7px;"></i>
                        <span>订单数: 58</span>
                    </div>
                    <div class="co1 pt-3 pl-10 pr-10 pb-5 pr pl-35">
                        <i class="pa fa fa-rmb f15" style="left: 13px; top: 7px;"></i>
                        <span>账户金额: <span class="fb f14">1586.23</span></span>
                    </div>
                </div>
            </li>

            <li class="col-md-4">
                <div class="bgc-ffffff f13" style="box-shadow: 2px 2px 6px #CFCFCF">
                    <div>
                        <img class="w" src="http://img0.aoaoxc.com/car_wash_2a7cd8148bfd11e498d5685b35d0bf16">
                    </div>
                    <div class="f16 pt-10 pl-10 pr-10">置信精典汽车快修(蜀光路店)</div>
                    <div class="co1 pt-10 pl-10 pr-10 pr pl-35">
                        <i class="pa fa fa-map-marker f16" style="left: 13px; top: 12px;"></i>
                        <span>成都市金牛区蜀光路2号</span>
                    </div>
                    <div class="co1 pt-3 pl-10 pr-10 pr pl-35">
                        <i class="pa fa fa-car" style="left: 10px; top: 7px;"></i>
                        <span>订单数: 58</span>
                    </div>
                    <div class="co1 pt-3 pl-10 pr-10 pb-5 pr pl-35">
                        <i class="pa fa fa-rmb f15" style="left: 13px; top: 7px;"></i>
                        <span>账户金额: <span class="fb f14">1586.23</span></span>
                    </div>
                </div>
            </li>

            <li class="col-md-4">
                <div class="bgc-ffffff f13" style="box-shadow: 2px 2px 6px #CFCFCF">
                    <div>
                        <img class="w" src="http://img0.aoaoxc.com/car_wash_2a7cd8148bfd11e498d5685b35d0bf16">
                    </div>
                    <div class="f16 pt-10 pl-10 pr-10">置信精典汽车快修(蜀光路店)</div>
                    <div class="co1 pt-10 pl-10 pr-10 pr pl-35">
                        <i class="pa fa fa-map-marker f16" style="left: 13px; top: 12px;"></i>
                        <span>成都市金牛区蜀光路2号</span>
                    </div>
                    <div class="co1 pt-3 pl-10 pr-10 pr pl-35">
                        <i class="pa fa fa-car" style="left: 10px; top: 7px;"></i>
                        <span>订单数: 58</span>
                    </div>
                    <div class="co1 pt-3 pl-10 pr-10 pb-5 pr pl-35">
                        <i class="pa fa fa-rmb f15" style="left: 13px; top: 7px;"></i>
                        <span>账户金额: <span class="fb f14">1586.23</span></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}