{% extends "mobile/car_wash/base_car_wash.html" %}

{% block title_all %}嗷嗷洗车{% endblock %}

{% block css %}
<style type="text/css">
.list-group-item:first-child{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.list-group-item:last-child{
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){

	// 点击整行选择支付方式
	$('.checkbox-inline').bind('click', function(){
		$('.gender').attr('checked', false);
		$(this).find('.gender').attr('checked', true);
	});

});
</script>
{% endblock %}

{% block bar_title %}账户设置{% endblock %}

{% block container %}
<div class="pb-50 pt-50 row pl-15 pr-15">
	<form>
		<div class="form-group">
		    <label for="username">姓名:</label>
		    <input type="email" class="form-control input-lg" id="username" placeholder="2-8个汉字以内">
	  	</div>
	  	<div class="form-group">
		    <label>性别:</label>
		    <div>
			    <label class="checkbox-inline pr-15">
				  	<input class="gender" type="checkbox" name="gender" value="1"> 男
				</label>
				<label class="checkbox-inline pr-15">
				  	<input class="gender" type="checkbox" name="gender" value="2"> 女
				</label>
				<label class="checkbox-inline pr-15">
				  	<input class="gender" type="checkbox" name="gender" value="0" checked="checked"> 未设置
				</label>
			</div>
	  	</div>
	  	<div class="form-group">
	  		<button type="submit" class="btn btn-block btn-orange btn-lg">确  定</button>
	  	</div>
  	</form>
</div>
{% endblock %}