{% extends "mobile/car_wash/base_car_wash.html" %}

{% block title_all %}嗷嗷洗车{% endblock %}

{% block css %}
<style type="text/css">
.list-group-item:first-child{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.list-group-item:last-child{
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
</style>
{% endblock %}

{% block bar_title %}消费记录{% endblock %}

{% block container %}
<ul class="list-group pt-50 pb-50 pl-15 pr-15">
	{% for record in records %}
	<li class="list-group-item row">
		<div class="col-xs-12 pl-0 pr-0 row">
			<div class="f15 col-xs-6 pl-0 pr-0">{{record.notes}}</div>
			<div class="text-right co3 col-xs-6 pl-0 pr-0">{{record.create_time|date:"Y-m-d H:i"}}</div>
		</div>
		<div class="col-xs-12 pl-0 pr-0 row">
			<div class="f13 pt-5 col-xs-7 pl-0 pr-0">余额: {{record.current_balance}}</div>
			<div class="text-right {% if record.operation == 0 %}co10{% else %}co8{% endif %} f15 fb col-xs-5 pl-0 pr-0">
				{% if record.operation == 0 %}+{% else %}-{% endif %}{{record.value}}
			</div>
		</div>
	</li>
	{% endfor %}
	{% if not records %}
   	<div class="alert alert-info mr-5 ml-5">暂无</div>
	{% endif %}
</ul>
{% endblock %}