{% extends "pc/base/base.html" %}

{% block base_css %}
<style type="text/css">
body{
    background-color: #f1f1f1;
}

.nav-account .list-group-item:first-child{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.nav-account .list-group-item:last-child{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 0;
}

.nav-account .list-group-item.active, .nav-account .list-group-item.active:hover, .nav-account .list-group-item.active:focus{
    background-color: #eee;
    border-color: #ddd;
    color: #919191;
}

.nav-account .list-group-item .arrow{
    display: none;
}

.nav-account .list-group-item.active .arrow, .nav-account .list-group-item:hover .arrow{
    display: block;
}
</style>
    {% block css %}{% endblock css %}
{% endblock %}

{% block base_js %}
    {% block javascript %}{% endblock javascript %}
{% endblock %}

{% block container %}
<div class="row pt-50 pl-20 pr-15">
    <div class="col-md-3 mt-25 bgc-ffffff border-1 bdc-d0d0d0 pl-0 pr-0 bdr-2 co1">
        <div class="text-center pt-40 pb-20 bgc-f8f8f8">
            <img class="img-circle avatar-100" src="{{request.user.get_avatar}}">
        </div>
        <div class="text-center bgc-f8f8f8 pb-30">
            <span class="fb f20 co16">{{request.user.nick}}</span>
        </div>
        <ul class="list-group nav-account mb-0">
            <a href="/car_wash/order_code" class="list-group-item border-left-0 border-right-0 {% if '/car_wash/order' in request.path %}active{% endif %}">
                <div class="pl-50 pr pb-5 pt-5">
                    <i class="fa fa-barcode pr-5 pa f18" style="left: 15px; top: 7px;"></i>
                    我的洗车码
                    <i class="fa fa-angle-right pa f16 arrow" style="right: 15px; top: 7px;"></i>
                </div>
            </a>
            <a href="/car_wash/coupon" class="list-group-item border-left-0 border-right-0 {% if request.path == '/car_wash/coupon' %}active{% endif %}">
                <div class="pl-50 pr pb-5 pt-5">
                    <i class="fa fa-rmb pr-5 pa f18" style="left: 18px; top: 7px;"></i>
                    我的优惠券
                    <i class="fa fa-angle-right pa f16 arrow" style="right: 15px; top: 7px;"></i>
                </div>
            </a>
            <a href="/cash/user_cash_record" class="list-group-item border-left-0 border-right-0 {% if '/cash/' in request.path %}active{% endif %}">
                <div class="pl-50 pr pb-5 pt-5">
                    <i class="fa fa-user pr-5 pa f18" style="left: 16px; top: 7px;"></i>
                    我的账户
                    <i class="fa fa-angle-right pa f16 arrow" style="right: 15px; top: 7px;"></i>
                </div>
            </a>
        </ul>
    </div>
    <div class="col-md-9 mt-25 pl-30 pr-0">
        {% block right %}{% endblock %}
    </div>
</div>
{% endblock container %}