{% extends "pc/account/base_user.html" %}

{% block css %}
<style type="text/css">
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
	padding: 12px;
}
</style>
{% endblock css %}

{% block right %}
<div class="border-1 bdc-d0d0d0 pl-0 pr-0 bdr-2">
	<div class="bgc-f8f8f8 pt-15 pb-15 pl-15 pr-15 border-bottom bdc-d0d0d0">
		<span class="f20 pl-5">您当前嗷嗷洗车余额: </span>
		<span class="co15 f20 pl-5"><i class="fa fa-rmb"></i>888.00元</span>
		<a class="btn btn-orange btn-sm ml-25" href="#">立即充值</a>
	</div>
	<div class="pl-15 pr-15 bgc-ffffff">
		<table class="table table-hover mb-0">
			<thead>
				<tr>
					<th>交易时间</th>
					<th>交易详情</th>
					<th class="text-right">交易金额(元)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>2014-12-25 15:22</td>
					<td>购买 - 嗷嗷洗车高新店洗车券1张</td>
					<td class="text-right"><span class="co8">-25.00</span></td>
				</tr>
				<tr>
					<td>2014-12-25 15:22</td>
					<td>充值 - 支付宝极简收银台支付</td>
					<td class="text-right"><span class="co10">+100.00</span></td>
				</tr>
				<tr>
					<td>2014-12-25 15:22</td>
					<td>购买 - 嗷嗷洗车高新店洗车券1张</td>
					<td class="text-right"><span class="co8">-25.00</span></td>
				</tr>
				<tr>
					<td>2014-12-25 15:22</td>
					<td>充值 - 支付宝极简收银台支付</td>
					<td class="text-right"><span class="co10">+100.00</span></td>
				</tr>
				<tr>
					<td>2014-12-25 15:22</td>
					<td>购买 - 嗷嗷洗车高新店洗车券1张</td>
					<td class="text-right"><span class="co8">-25.00</span></td>
				</tr>
				<tr>
					<td>2014-12-25 15:22</td>
					<td>充值 - 支付宝极简收银台支付</td>
					<td class="text-right"><span class="co10">+100.00</span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}