{% extends "account/base_user.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}{{user.nick}}的回复{% endblock %}

{% block css %}{% endblock %}
{% block javascript %}{% endblock %}

{% block left %}
{% if answers %}
<ul class="list-group">
	{% for answer in answers %}
	<li class="list-group-item bdc-eee pl-0 border-left-0 border-right-0">
		<a href="{{answer.from_user.get_url}}">
			<img alt="{{answer.from_user.nick}}" class="avatar-35 img-circle pa" src="{{answer.from_user.get_avatar_65}}">
		</a>
		<div class="pl-45 pb-5">
			<div>
				<a href="{{answer.from_user.get_url}}" class="co5 pr-5">{{answer.from_user.nick}}</a>回复了
				{% if answer.obj_type != 1 %}<a href="{{answer.to_user.get_url}}" class="co5 pr-5">{{answer.to_user.nick}}</a>的{% endif %}{{answer.get_obj_type_display}}
				<a href="{{answer.obj.get_url}}" class="co5 pr-5">{{answer.obj.title|str_display:17}}</a>
				<span class="pull-right co2 f12">{{answer.create_time}}</span>
			</div>
			<div class="pt-5 f12">{{answer.get_summary|safe}}</div>
		</div>
	</li>
	{% endfor %}
</ul>
{{page_params|paging:request}}
{% else %}
<div class="blank10"></div>
<div class="alert alert-info popmsg box-shadow-224 border-radius-0">暂无</div>
{% endif %}
{% endblock %}